.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

div.App {
  background-color: #242424
}

svg .node circle {
	fill: #F3F3FF;
	stroke: #2593B8;
	stroke-width: 1.5px;
}

svg .node text {
	font-size: 11px;
	background-color: #444;
	fill: #F4F4F4;
	text-shadow: 0 1px 4px black;
}

svg .node {
	cursor: pointer;
}

svg g text.selected {
  fill: greenyellow;
  font-weight: bold;
  font-size: larger;
  transition: color .5s, font-size .5s;
}

svg path.link {
	fill: none;
	stroke: #2593B8;
	stroke-width: 1.5px;
}

label {
    cursor: pointer;
    color: white;
    display: block;
    padding: 10px;
    margin: 3px;
}

.file-uploader-label
{
    display: unset;
}

.block-hax {
    margin: 3px;
    padding: 10px;
    display: block;
}
